build/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
Makefile

*.o
*.obj
*.so
*.a
*.dylib
*.dll
*.exe
*.out

.idea/

.DS_Store

*.log

